@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mulish');

body { font-family: 'mulish', Arial, Helvetica, sans-serif; max-width: 1400px; max-height: 850px; margin: auto !important; background-color: #003B3F; font-size: 0.9rem; }

.bg-blue-app { background-color: #003B3F; }
.bg-blue-app-h { background-color: #00487A; }
.bg-green-app { background-color: #B5E829 ;}
.border-blue-app { border-color: #003B3F; }
.text-blue-app { color: #003B3F; }
.text-green-app { color: #B5E829 ;}
.max-w-600 { max-width: 600px; } 
.max-w-700 { max-width: 700px; } 
.w-400 { width: 400px; }
.w-100 { width: 100px; }
.w-80 { width: 80px !important; }
.w-40 { width: 40px !important; }
.w-49-8 { width: 49.8%; }

.titulo {
    @apply border-b border-blue-app md:text-center font-bold text-2xl py-2 mb-0.5;
}
.subtitulo {
    @apply font-bold text-xl p-2;
}
.input {
    @apply border border-gray-300 rounded w-full py-2 px-4 leading-tight focus:outline-none;
}

.input_filtro { 
    @apply border border-gray-300 py-2 pl-2 pr-8 leading-6 focus:outline-none border-t-0 border-l-0 border-r-0 ;
}
.input:focus, .input_filtro:focus {
    @apply border-blue-app;
}
.label {
    @apply block font-bold mb-1 md:mb-0 pr-4 ;
}

.fa { cursor: pointer; }
.fa-20 { font-size: 20px !important; }
.fa-24 { font-size: 24px !important; }
.fa-30 { font-size: 30px !important; }
.fa-40 { font-size: 40px !important; }
.fa-50 { font-size: 50px !important; }

.btn_login {
    @apply bg-blue-app text-green-app border py-2 px-5 rounded ;
  }
.btn_login:hover{
    @apply bg-green-app text-blue-app border-blue-app ;
}
.div_listado_reducido { height: 48px; overflow: hidden; }
._btn {
    @apply bg-blue-app text-white py-2 px-5 rounded-2xl focus:outline-none;
  }
._btn:hover{
    @apply bg-blue-app-h  ;
}

.btn-primary { 
    @apply w-full inline-flex justify-center rounded-2xl border border-transparent shadow-sm px-4 py-2 bg-blue-app text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-900 sm:ml-3 sm:w-auto sm:text-sm
}
.btn-primary:hover {
    @apply bg-blue-app-h
}
.btn-success {
    @apply w-full inline-flex justify-center rounded-2xl border border-transparent shadow-sm px-4 py-2 bg-green-700 text-base font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-900 sm:ml-3 sm:w-auto sm:text-sm
}
.btn-info {
    @apply w-full inline-flex justify-center rounded-2xl border border-transparent shadow-sm px-4 py-2 bg-blue-300 text-base font-medium text-black hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm;
    background-color: #B5E828; /* #6C8F0F; */
}
.btn-info:hover { background-color: #8EB71E; }
.btn-info:hover, .btn-info:focus { --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) #80a31e; }
.btn-cancel {
    @apply w-full inline-flex justify-center rounded-2xl border border-transparent shadow-sm px-4 py-2 bg-gray-300 text-base font-medium text-black hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:ml-3 sm:w-auto sm:text-sm
}
/*bg-blue-app hover:bg-blue-200  text-white font-bold py-2 px-4 rounded*/

.rdt_TableCol_Sortable { font-weight: bolder; font-size: .9rem !important;}
.rdt_TableCell { font-size: .9rem !important; }

.menu2 {
    @apply w-1/2 text-center bg-white text-blue-app hover:bg-gray-200
}
.menu2_activo {
    @apply w-1/2 text-center bg-blue-app text-green-app
}
.menu3 {
    @apply w-1/3 text-center bg-white text-blue-app hover:bg-gray-200
}
.menu3_activo {
    @apply w-1/3 text-center bg-blue-app text-green-app
}
.menu4 {
    @apply w-1/4 text-center bg-white text-blue-app hover:bg-gray-200
}
.menu4_activo {
    @apply w-1/4 text-center bg-blue-app text-green-app
}

.base_consulta { width: 274px; float: left; margin-left: .125rem; margin-bottom: .125rem;}
.titulo_base{ @apply border-b border-blue-app md:text-center text-2xl py-2 }
.subtitulo_base { @apply px-4 py-2 }
.alto_nombre { height: 45px;overflow: hidden; width: 95px;}

.gFhScj { padding-left: 10px !important; padding-right: 10px !important;}
.dmOeOm { /*height:  100% !important; */ }
.swal2-actions { padding-top: .5rem !important; }
.swal2-deny { color: #232323 !important;  border: 1px solid gray !important }
.optionUpload { @apply absolute top-0 right-0 }
.optionUpload-d { @apply absolute top-4 right-2 p-0 bg-gray-200 hover:bg-gray-200 rounded-2xl w-80 }
.icon-d { @apply p-1 hover:bg-gray-400 bg-opacity-30 hover:bg-gray-400 bg-opacity-30 w-40 text-center }